/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300&display=swap');
/* Reset browser default */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.flex-wrapper{
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

main{
    flex-grow: 1;
}

ul{
    list-style-type: none;
}

.header{
    display: flex;
    color: #E5E7EB;
    gap: 16px;
    padding: 18px 20vw;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.push{
    margin-left: auto;
}

.header-link a{
    color: #E5E7EB;
    text-decoration: none;
}

.header-link a:hover{
    font-size: 17px;
}

.hero-content{
    display: flex;
    padding: 16px 20vw 48px;
    color: #F9FAF8;
    flex-shrink: 0;
    flex-wrap: 0;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    max-width: 30vw;
}

.main-content h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.main-content p{
    margin: 12px 0;
}

.hero-img img{
    flex-shrink: 0;
    max-width: 210px;
    border: 2px solid #E5E7EB;
}

.main-content button{ 
    border: none;
    border-radius: 8px;
    background-color: #2a7cff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    margin-top: 12px;
    padding: 8px 48px;
    opacity: 1;
}

.main-content button:hover{
    opacity: 0.9;
}

section{
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

section > h1{
    font-weight: 950;
    font-size: 36px;
    color: #1F2937;
}

.container-box{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 5vh;
}

.item{
    display: flex;
    max-width: 200px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box{
    display: flex;
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin: 40px 0 12px;
}

.text{
    color: #53555a;
}

.inspo-quote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 16px 20vw;
}

blockquote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

blockquote > p{
    text-align: end;
}

.container-signup{
    display: flex;
    background-color: #F9FAF8;
    align-items: center;
    justify-content: center;
    padding: 62px 20vw;
    flex-direction: column;

}
.item-signup{
    display: flex;
    background-color: #3882F6;
    border-radius: 12px;
    max-width: 800px;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    gap: 32px;
}

.text-signup{
    color: #E5E7EB;
}

.item-button-signup{
    flex-shrink: 0;
    color: #3882F6;
    border: 3px solid #E5E7EB;
    border-radius: 12px;
    padding: 10px 32px;
    background-color: #3882F6;
    margin: 0 32px;
}

strong{
    font-size: 24px;
}

.item-button-signup:hover{
    opacity: 0.7;
}

footer{
    margin: 0 auto;
    width: 300px;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 32px;
}